/*FONTS*/
.pt-sans-caption-regular {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-sans-caption-bold {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


/*var*/
:root{
    --font-plain: Arial, Helvetica, sans-serif;
    --font-special: Arial, Helvetica, sans-serif;
}

/*body CSS*/


.section-padding{
    padding: 100px 0px 100px 0px;
}

body{
    margin:0;
}

.margin{
    margin-right: 15%;
    margin-left: 15%;
}

.hero {
    background-color: #1F2937;

}

.hero-logo{
    height: 0.8em;
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.nav-bar{
    font-size: 36px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


a{
    color: white;
    text-decoration: none; 
    font-family: PT Sans Caption, Helvetica, sans-serif;
    font-size: 12px;
}

li {
    text-decoration: none;
}

ul {
    padding:0px;
    display:flex;
    list-style: none;
    gap: 24px;
}


.header-main{
    display:flex;
    flex-direction:column;
    font-size: 72px;
    font-weight: extra-bold;
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(5px 5px 5px black);
    align-items:center;
    gap: 20px;
}

.header-signup{
    width: 300px;
}

.header{
    display:flex;
    justify-content: center;
    background-size: cover;
    background-color: #1F2937;
    background-size: cover;
    background-image:url(./images/Everything-Gate.webp);
    
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        
        /* bottom, image */
        url(https://images.unsplash.com/photo-1614030424754-24d0eebd46b2);

}

.header-container{
    filter: blur(2px);
    -webkit-filter: blur(0px);
    padding: 100px 0px 100px 0px;
}

.header-text {
    color: white;
    padding-bottom: 10px;
}

.project-title{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.project-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 20ch;
}

.project-body{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-top: 100px;
    gap: 30px;
}


.testimony{
    background-color: #E5E7EB;
}

.testimony-body{

}



.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: light;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 100px 0px 100px;
}

.author{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align:right;
}

button{
    background-color: #3882F6;
    border-radius: 7px;
    padding: 5px 20px 5px 20px;
    color: white;
    font-weight: bold;
    border: none;
    display:flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}



.subtext
 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}





.icon-pack{
    border-radius: 32px;
    width: 150px;
}

.icon-text{
    width: 200px;
    text-align: center;
}

.subtext .icon-text{
    justify-content: center;
}

.c2a{
}

.c2a-title{
    font-size: 32px;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.c2a-main{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px 150px 50px 150px;
    display:flex;
    justify-content:space-between;
    font-weight: 100;

}

.c2a-body{
}

.c2a-section{
    font-size: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.signup{
    border:white solid 2px;
}

.footer{
    background-color: #1F2937;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    color: white;
}

.legal{
    text-decoration: none;
    list-style: none;

}